{% extends 'base.html' %}

{% block content %}
    <h1>Admin</h1>
    {% if working %}
        <h3 class="current-location">Status: Working! Current Location: {{ locations[cur_location]["name"] }}</h3>
        <div class="admin-buttons">
            <a href="/admin/off">
                <button class="admin-off">To Charging Station</button>
                <button class="admin-emergency">Emergency Shutdown</button>
            </a>
        </div>
        <div class="stream"></div>
        <button class="captions-button">Toggle Captions</button>
    {% else %}
        <h3 class="current-location">Status: Off. Taking a break!</h3>
        <form action="/locations/current" method="POST", class="admin-start-form">
            <label for="id">Starting location: </label>
            <select id="id", name="id">
                <option value="-1">Current Location</option>
                {% for location in locations %}
                    <option value="{{ loop.index0 }}">{{ location['name'] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Start" />
        </form>
    {% endif %}
    <div class="admin-options">
        <a href="/admin/1" class="admin-options-item">Set Work Times</a>
        <a href="/admin/2" class="admin-options-item">Location Settings</a>
        <a href="/admin/3" class="admin-options-item">Route Settings</a>
        <a href="/admin/4" class="admin-options-item">Diagnostic Info</a>
    </div>
    {% if options == 1 %}
    <div class="admin-options">
        <form action="/admin/1", method="GET">
            <label for="start">Start time:</label>
            <input type="time" id="start" name="start">
            <label for="end">End time:</label>
            <input type="time" id="end" name="end">
            <input type="submit" value="Change" />
        </form>
    </div>
    {% endif %}
    {% if options == 2 %}
    <div class="admin-options">
        <form action="/admin/2", method="GET">
            {% for location in locations %}
                <input type="radio" id="{{ loop.index0 }}" name="selected_location" value="{{ location['name'] }}">
                <label for="{{ loop.index0 }}">{{ location["name"] }}</label>
                <br>
            {% endfor %}
            <input type="button" value="Edit">
            <input type="button" value="Delete">
            <br>
            <input type="submit" value="Add New Location">
        </form>
    </div>
    {% endif %}
    {% if options == 3 %}
    <div class="admin-options">
        <form action="/admin/3", method="GET">
            <label for="start">Start Location:</label>
            <select name="start" id="start">
                {% for location in locations %}
                    <option value="{{ loop.index0 }}">{{ location["name"] }}</option>
                {% endfor %}
            </select>
            <label for="end">End Location:</label>
            <select name="end" id="end">
                {% for location in locations %}
                    <option value="{{ loop.index0 }}">{{ location["name"] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add New Route">
        </form>
    </div>
    {% endif %}
    {% if options == 4 %}
    <div class="admin-options">
        *Insert super important diagnostic info here*
    </div>
    {% endif %}
{% endblock %}