<html>
    <head>
        <title>RoboGuide</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>
    <header>
        <h1 class="title">RoboGuide</h1>
        <nav>
            <a href="/", class="button">Home</a>
            <a href="/location_map", class="button">Map</a>
            <a href="/locations", class="button">Locations</a>
            <a href="/admin", class="button nav-login">Admin</a>
        </nav>
        <hr>
    </header>
    {% block content %} {% endblock %}
</html>