{% extends 'base.html' %}

{% block content %}
    <h1>Locations List</h1>
    <h3 class="current-location">Current Location: {{ locations[cur_location]["name"] }}</h3>
    <div class="locations-div">
        <h2 class="locations-title">All Locations:</h2>
        <ul class="locations-list">
            {% for location in locations %}
                <li class="locations-li"><a href="/locations/{{ loop.index0 }}" class="locations-a">{{ location["name"] }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}