{% extends 'base.html' %}

{% block content %}

<h3 class="current-location">Current Location: {{ cur_location[1] }}</h3>
<div class="map-stream-container">
    <div class="map-container">
        <div id="map"></div>
        <a href="/locations/{{ cur_location[0] }}" class="learn-more">Learn More</a>
    </div>
    <div class="stream-container">
        <div class="stream"></div>
        <button class="button captions-button">Toggle Captions</button>
    </div>
</div>
<hr>
<div class="robot-controls-container">
    <h1>Robot Controls</h1>
    <button class="button control-buttons">Start Robot</button>
    <button class="button control-buttons">Stop Robot</button>
</div>
<hr>

<!-- Leaflet, Map generation -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<script>
    // idk why there's an error at this line
    var curLocationCoords = {{ cur_location_coords | tojson }};

    var static_coords = [37.33533958047712, -121.88105200869731];
    var map = L.map('map').setView(static_coords, 16.25);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    L.marker(curLocationCoords).addTo(map).bindPopup('MLK Library').openPopup();
</script>

{% endblock %}